body{
    background-color: rgb(110, 34, 182);
    font-size: 1.5em;
}
h1{
    color: white;
    font-size: 2em;
    display: flex;
    align-content: center;
    justify-content: center;
    margin-top: 1em;
}
/*div que envolve tudo*/
.container{
    background-color: white;
    width: 500px;
    height: 500px;
    margin: 2em auto 0;
    border: 1px solid black;
    border-radius: 5%;
    display: flex;
    flex-direction: column;
}
/*nome*/
.box{
    display: flex;
    justify-content: flex-start;
    padding: 1em 1em 0;
    margin-bottom: 1em;
}
/*botões*/
button{

    padding: .5em .5em .5em .5em;
    font-size: large;
}
button.add{
    margin-left: 1.2em;
    margin-bottom: 1em;
}
/*caixa das notas*/
main {
    width: 90%;
    height: 60%;
    border: 1px solid black;
    margin: 0 auto;
    padding-left: 1em;
    overflow-y: scroll;
}
/*media*/
.fim{
    width: 90%;
    text-align: left;
    margin: 1em auto 0;
}
